
input[type=text], input[type=password] {
	border: 1px solid #232323;
}

label {
	position: relative;
}

.tooltip, .alert {
    display: none;
}
.error {
    border: 1px solid red
}
.checked {
    border: 5px solid green
}









.tooltip {
	position: absolute;
	border: 1px solid red;
	border-radius: 3px;
	background: #fff;
}